.sidebar {
    border: 1px solid #ddd;
    width: 40px;
}

.pane.user {
    flex: initial; /* reset the flex pattern inherit from pane and allow user-defined width for panes */
    border-width: 0
}

.pane.main.left {
    width: 60%;
}
.pane.main.right {
    width: 40%;
}

.splitter.vertical {
    width: 4px;
    border: 1px solid #ddd;
}

.splitter.vertical:hover {
    cursor: col-resize
}

.splitter.horizontal {
    height: 5px;
    border: 1px solid #ddd;
}

.splitter.horizontal:hover {
    cursor: row-resize
}

.splitter:hover {
    background: lightgreen;
    transition-duration: 1s;
}

.pane-group.rows {
    flex-flow: column;
    border-width: 0
}

.container.annotated.source {
    height: 180px;
    /*flex: 3;*/
}

.container.annotated.target {
    height: 210px;
    /*flex: 4;*/
}

.container.machine-translation {
    height: 210px;
}



